README.md
node_modules
npm-debug.log
.env
.env.dist
.gitignore
.vscode
.editorconfig
.git
.dockerignore
Dockerfile
Dockerfile.dev
docker-compose.yml
./src/data
./src/tests
**/__tests__
globalConfig.json
octalysis-service-account-key.json
LICENSE
